body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.App {
  width: 600px;
  margin: 0 auto;
}
.header {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.header .menu {
  margin-left: auto;
}
.header .menu .link {
  margin-left: 5px;
}
table {
  border-collapse: collapse;
  width: 100%;
  margin-top: 20%;
}
table td {
  width: 25%;
  border: 1px solid rgb(216, 207, 207);
  text-align: center;
  font-size: 18px;
}
table td:first-child {
  width: 10%;
}
button {
  font-size: 16px;
  cursor: pointer;
  border: none;
  border-radius: 8px;
  padding: 6px 12px;
  color: #fff;
  background-color: rgb(235, 127, 26);
}
.input_area {
  margin-bottom: 10px;
}
